# Node
my-app/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Next.js
my-app/.next
my-app/out

# Environment
.env
.env.*
!.env.example
my-app/.env
my-app/.env.*

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Dev / Misc
README.md
my-app/README.md
*.md
.DS_Store
LICENSE
.vscode
.idea


