# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Next.js
.next
out

# Environment
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Dev / Misc
README.md
*.md
.DS_Store
LICENSE
.vscode
.idea

